<load href="__PUBLIC__/Home/Css/login.css" />
<load href="__PUBLIC__/Home/Js/login.js" />
<div class="login">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >
        <div class="modal-content">
          <form name="loginForm" id="id_login_form" method="post">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h4 class="modal-title" id="login-label">登录</h4>
            </div>
            <div class="modal-body">
              <div class="input-group input-group-lg">
                <input id="login-username" type="text" name="username" class="form-control" placeholder="手机号" data-name="userName">
                <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>         
              </div>
              <p class="error" id="login-username-error"></p> 
              <div class="input-group input-group-lg">
                <input id="login-password" type="password" name="password" class="form-control" placeholder="登录密码" data-name="password">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              </div>
              <p class="error" id="login-password-error"></p>

              <div class="input-group input-group-lg control-group">
                <input type="text" id="inputPassword" maxlength="4" class="form-control" placeholder="请输入验证码"  errormsg="请填写4位验证码" nullmsg="请填写验证码" datatype="*5-5" name="verify">
                <a class="input-group-addon input-captcha" href="#" id="ref-img" style="padding: 0;">
                <img class="verifyimg reloadverify" alt="点击切换" src="{:U('User/Index/verify')}">
                </a>
                <!-- <div class="control-group groupstyle">
                  <div class="controls">
                    <img class="verifyimg reloadverify" alt="点击切换" src="{:U('User/Index/verify')}" style="cursor:pointer;">
                  </div>
                  <label class="control-label labelstyle"></label>
                  <div class="controls Validform_checktip text-warning"></div>
                </div> -->
              </div>
              <p class="error" id="login-captcha-error"></p>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember" checked="checked" id="id-remember">下次自动登录
                </label>
                <a href="javascript:void(0)" class="pull-right" id="forget-password">忘记了密码？</a>
              </div>
              <button type="submit" id="login-button" data-loading-text="正在登录..." class="btn btn-primary btn-lg btn-block">登录</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>