<load href="__PUBLIC__/Home/Css/register.css" />
<load href="__PUBLIC__/Home/Js/register.js" />
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="register-content" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >
        <div class="register-main center-block" style="padding: 0;">
          <div class="modal-header center-block" style="padding: 0;">
            <h2>注册</h2>
          </div>
          <form id="regForm" method="post" action="{:U('user/index/register')}"> 
            <div class="modal-body center-block" id="register">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="手机号码" id="mobile">
                <!-- <span class="tips" id="id-reg-username-error" style="left: -218px; top: 9px;">用户名长度在5-20个字符之间</span> -->
                <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
                </div>
              <div class="input-group input-group-lg">
                <input type="text" id="verify" name="verify" maxlength="4" class="form-control" placeholder="请输入验证码"  errormsg="请填写4位验证码" nullmsg="请填写验证码" datatype="*5-5">
                <a class="input-group-addon input-captcha" href="javascript:void(0)" id="reg_ref_img" style="padding: 0;"><img class="verifyimg reloadverify" alt="点击切换" src="{:U('User/Index/verify')}" ></a>
              </div> 
              <!-- <div class="input-group input-group-lg control-group">
                    <label class="control-label" for="inputPassword">验证码</label>
                    <input type="text" id="verify" name="verify" class="span3 form-control" placeholder="请输入验证码"  errormsg="请填写5位验证码" nullmsg="请填写验证码" datatype="*5-5">
                    <div class="control-group groupstyle">
                        <div class="controls">
                            <img class="verifyimg reloadverify" alt="点击切换" src="{:U('User/Index/verify')}" style="cursor:pointer;">
                        </div>
                        <label class="control-label labelstyle"></label>
                      <div class="controls Validform_checktip text-warning"></div>
                    </div>
                </div> -->

              <input type="hidden" id="getsmscode" value="{:U('sms/index/sendsmscode')}" />
              <input id="mobilecode" class="btn btn-primary btn-lg btn-block" type="button" value="免费获取短信验证码" />
              <div class="input-group input-group-lg smsinput">
                <input type="password" class="form-control" placeholder="短信验证码" id="smcode" name="password">
                <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block" id="registeragree">我同意，现在注册</button>
              <p class="agreement">注册需同意<a href="#" target="_blank">造么协议</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>