<load href="__PUBLIC__/Topic/Css/animate.min.css" />
<load href="__PUBLIC__/Topic/Css/main.css" />
<div class="global ease" style="-webkit-transform: translate3d(0px, 0px, 0px);">
    <div class="screen" >

        <div id="page_1" class="page page_1">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/start.png">
            <div class="swipe_tip"></div>
        </div>

        <div id="page_2" class="page page_2">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/guide_0.png">
            <div class="swipe_tip"></div>
        </div>
        <div id="page_3" class="page page_3">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/guide_1.png">
            <div class="swipe_tip"></div>
        </div>
        <div id="page_4" class="page page_4">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/guide_2.png">
            <div class="swipe_tip"></div>
        </div>
        <div id="page_5" class="page page_5">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/background.png">
            <div class="inner">
                <h1 class="logo_1"><img width="215" src="__PUBLIC__/Topic/Image/logo2.png" alt=""></h1> 
                <h2 class="logo_2"><img width="300" src="__PUBLIC__/Topic/Image/content.png" alt=""></h2>
                <div class="btn">
                    <a href="#"><img width="169" src="__PUBLIC__/Topic/Image/down.png" alt=""></a>
                    <img width="78" class="qr_code" src="__PUBLIC__/Topic/Image/qr_code.png" alt="">
                </div>
            </div>
            <div class="swipe_tip"></div>
        </div>

    </div>
</div>
<load href="__PUBLIC__/Topic/Js/zepto.min.js" />
<load href="__PUBLIC__/Topic/Js/touch.js" />
<load href="__PUBLIC__/Topic/Js/main.min.js" />