<load href="__PUBLIC__/Topic/Css/animate.min.css" />
<load href="__PUBLIC__/Topic/Css/main.css" />
<div class="global ease" style="-webkit-transform: translate3d(0px, 0px, 0px);">
    <div class="screen" >

        <div id="page_1" class="page page_1">
            
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/guide_50.png">
            <!-- <div class="inner">
                <h1 class="logo_1"><img width="80" src="__PUBLIC__/Topic/Image/guide_002.png" alt=""></h1>
                <h2 class="logo_2"><img width="230" src="__PUBLIC__/Topic/Image/guide_003.png" alt=""></h2>
                <div class="shape shape_1"><img class="guide_1" src="__PUBLIC__/Topic/Image/guide_0002.png" alt=""></div>
                <div class="shape shape_2"><img width="100" src="__PUBLIC__/Topic/Image/guide_003.png" alt=""></div>
            </div> -->
            
            <div class="swipe_tip"></div>
        </div>

        <div id="page_2" class="page page_2">
            <div class="bg">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/guide_51.png">
            <!-- <div class="inner">
                <div class="shape shape_1"><img class="guide_1" src="__PUBLIC__/Topic/Image/guide_0002.png" alt=""></div>
            </div> -->
            </div>
            <div class="swipe_tip"></div>
        </div>
        <div id="page_3" class="page page_3">
            <div class="bg">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/guide_52.png">
            <!-- <div class="inner">
                <div class="shape shape_2"><img class="guide_2" src="__PUBLIC__/Topic/Image/guide_202.png" alt=""></div>
            </div> -->
            </div>
            <div class="swipe_tip"></div>
        </div>
        <div id="page_4" class="page page_4">
            <div class="bg">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/guide_53.png">
            <!-- <div class="inner">
                <div class="shape shape_3"><img class="guide_3" src="__PUBLIC__/Topic/Image/guide_302.png" alt=""></div>
            </div> -->
            </div>
            <div class="swipe_tip"></div>
        </div>
        <div id="page_5" class="page page_5">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/background.png">
            <div class="inner">
                <h1 class="logo_1"><img width="215" src="__PUBLIC__/Topic/Image/logo2.png" alt=""></h1> 
                <h2 class="logo_2"><img width="300" src="__PUBLIC__/Topic/Image/content.png" alt=""></h2>
                <div class="btn">
                    <a href="#"><img width="169" src="__PUBLIC__/Topic/Image/down.png" alt=""></a>
                    <img width="78" class="qr_code" src="__PUBLIC__/Topic/Image/qr_code.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
<load href="__PUBLIC__/Topic/Js/zepto.min.js" />
<load href="__PUBLIC__/Topic/Js/touch.js" />
<load href="__PUBLIC__/Topic/Js/main.min.js" />
<load href="__PUBLIC__/Topic/Js/main.js" />