<load href="__PUBLIC__/Topic/Css/animate.min.css" />
<load href="__PUBLIC__/Topic/Css/style.css" />
<div class="global ease" style="width: 1350px; height: auto; -webkit-transform: translate3d(0px, 0px, 0px);">
    <div class="screen" style="width: 1350px; height: auto;">

        <div id="page_1" class="page page_1" style="width: 1350px; height: 615px;">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/background.png">
            <div class="inner current">
                <div class="logo_1"><img width="253" src="__PUBLIC__/Topic/Image/word.png" alt=""></div>
            </div>
            <div class="swipe_tip"></div>
        </div>

        <div id="page_2" class="page page_2" style="width: 1350px; height: 615px;">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/background.png">
            <div class="inner">
                <div class="shape shape_1"><img width="260" src="__PUBLIC__/Topic/Image/phone.png" alt=""></div>
            </div>
            <div class="swipe_tip"></div>
        </div>
        <div id="page_6" class="page page_6" style="width: 1350px; height: 615px;">
            <img class="layer_bg" src="__PUBLIC__/Topic/Image/background.png">
            <div class="inner">
                <h1 class="logo_1"><img width="215" src="__PUBLIC__/Topic/Image/logo2.png" alt=""></h1> 
                <h2 class="logo_2"><img width="300" src="__PUBLIC__/Topic/Image/content.png" alt=""></h2>
                <div class="btn">
                    <a href="register.html"><img width="169" src="__PUBLIC__/Topic/Image/download.png" alt=""></a>
                    <img width="78" class="qr_code" src="__PUBLIC__/Topic/Image/qr_code.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>
<load href="__PUBLIC__/Topic/Js/zepto.min.js" />
<load href="__PUBLIC__/Topic/Js/touch.js" />
<load href="__PUBLIC__/Topic/Js/main.min.js" />