<load href="__PUBLIC__/Topic/css/share.css" />
<div class="wrapper">
    <div class="main">
        <div class="zaome">
            <div class="bg"><img src="__PUBLIC__/Topic/Image/content-bg.png"></div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="content">咱们学校二号楼厕所总有人点这种香，还摆成奇怪的样子，每次把窗帘拉上，还往地上洒水，有人知道这是在干什么吗？
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="bottom">
                <div class="time">5分钟前</div>
                <div class="relates">
                    <div class="comment-count">
                        <img class="i" src="__PUBLIC__/Topic/Image/comment.png" alt="comment">
                        <span class="num">87</span>
                    </div>
                    <div class="liked-count">
                        <img class="i" src="__PUBLIC__/Topic/Image/top-like.png" alt="top-like">
                        <span class="num">36</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            <ul>
                <li class="li-border">
                    <div class="container">
                        <div class="portrait">
                            <div class="head"><img src="__PUBLIC__/Topic/Image/head.png"></div>
                        </div>
                        <div class="content">
                            <div class="comment-content">
                                <p>别大惊小怪，那可能只是熏蚊子用的蚊香，每到夏天保洁阿姨都会点这种香</p>
                            </div>
                            <div class="comment-like">
                                <img src="__PUBLIC__/Topic/Image/right-like.png" alt="right-like">
                            </div>
                            <div class="comment-btm">
                            <span class="comment-time">2分钟前</span> <img src="__PUBLIC__/Topic/Image/bottom-liked.png" alt="bottom-like"><span class="comment-like-count">36</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="li-border">
                    <div class="container">
                        <div class="portrait">
                            <div class="head"><img src="__PUBLIC__/Topic/Image/head.png"></div>
                        </div>
                        <div class="content">
                            <div class="comment-content">
                                <p>不用太紧张，我去年也见过保洁阿姨点这种蚊香，没事的！</p>
                            </div>
                            <div class="comment-like">
                                <img src="__PUBLIC__/Topic/Image/right-like.png" alt="right-like">
                            </div>
                            <div class="comment-btm">
                            <span class="comment-time">2分钟前</span> <img src="__PUBLIC__/Topic/Image/bottom-like.png" alt="bottom-like"><span class="comment-like-count">36</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container">
                        <div class="portrait">
                            <div class="head"><img src="__PUBLIC__/Topic/Image/head.png"></div>
                        </div>
                        <div class="content">
                            <div class="comment-content">
                                <p>别大惊小怪，那可能只是熏蚊子用的蚊香，每到夏天保洁阿姨都会点这种香</p>
                            </div>
                            <div class="comment-like">
                                <img src="__PUBLIC__/Topic/Image/right-like.png" alt="right-like">
                            </div>
                            <div class="comment-btm">
                            <span class="comment-time">2分钟前</span> <img src="__PUBLIC__/Topic/Image/bottom-like.png" alt="bottom-like"><span class="comment-like-count">36</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="app-download">
                <a href="#" id="appAd"><img class="text" src="__PUBLIC__/Topic/Image/logo.png"><img class="app-logo" src="__PUBLIC__/Topic/Image/download_btn.png"></a>
        </div>
    </div>
</div>
<script>
    var isMobile = true;
        if (isMobile) {
            var ch = document.documentElement.clientWidth;
            if (ch < 700){
            var zaomeEle = document.querySelector('.zaome');
            zaomeEle.style.height = document.documentElement.clientWidth + 'px';
            }
        }
</script>