	<div class="col-lg-5">
      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">快速注册</h2>
        <input type="text" class="form-control" placeholder="Email地址" required="" autofocus=""><br>
        <input type="text" class="form-control" placeholder="昵称" required="" autofocus=""><br>
        <input type="password" class="form-control" placeholder="密码" required=""><br>
        <input type="password" class="form-control" placeholder="确认密码" required=""><br>
        <p>你是否愿意加入巴斯大家庭？</p>
        <label class="checkbox">
          <input type="checkbox" value="ido"> 我愿意
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">立即注册</button><br>



      </form>
      </div>