body,
.container-fluid
{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
body
{
    background-color: #e7e7e9;
}
.clear
{
    clear: both;
}
#background
{
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 100%;
}
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8
{
    text-align: center;
}
.zmcon
{
    position: relative;
    z-index: -1;

    width: 100%;
    height: auto;

    text-align: center;

    background: url(../Image/background.png) left top no-repeat;
    background-size: 100% 100%;
}
/*导航条部分开始*/
.zaome-nav
{
    font-size: 15px;

    position: absolute;
    z-index: 20;
    right: 0;
    left: 0;

    height: 50px;

         opacity: .85;
    /*background: url(../Image/zaome_top_bg.png) repeat-x;*/

    filter: alpha(opacity=85);
    -moz-opacity: .85;
    -khtml-opacity: .85;
}
.navbar-inverse
{
    border: none;
}
.navbar-brand
{
    line-height: 50px;

    height: 50px;
    margin-left: 50px;
    padding: 0;
}
.navbar-brand img
{
    width: auto;
    height: 46px;
    padding: 2px 0;
}
.nav-index-zaome .navbar-header li
{
    line-height: 50px;

    height: 50px;
    margin: 0 40px;
}
.nav-index-zaome .navbar-header
{
    margin-right: 120px;
}
.nav-index-zaome .navbar-header li a
{
    font-family: '微软雅黑';
    font-size: 18px;

    display: inline-block;

    height: 100%;
    padding: 13px 30px;

    color: #fff;
}
.nav-index-zaome .navbar-header li a:hover
{
    background: #03c;
}
.nav-index-zaome .nav-right li
{
    margin: 11px 3px 0 3px;
}
.loginbtn,
.regbtn
{
    position: relative;

    width: 70px;
    height: 28px;
    padding-top: 3px;
}
.loginbtn a
{
    color: #000;
}
.regbtn a
{
    color: #fff;
}
.loginbtn a,
.regbtn a
{
    font-family: '微软雅黑';
    font-size: 15px;
}
.loginbtn a:hover,
.regbtn a:hover
{
    text-decoration: none;
}
/*导航条部分结束*/
/*联系我们部分开始*/
.row-fluid .contact-img
{
    width: 94%;
    height: 94%;
    margin: 3% 3% 2%;
}
.contact-con
{
    padding: 3%;
    /*border-bottom: 1px solid #ccc;*/
}
.hr
{
    display: inline-block;

    width: 94%;
    margin: 0 3%;
}
.contact-con p
{
    font-family: '微软雅黑';
    font-size: 14px;

    display: block;

    text-align: left;
}
.contact-con .contact-header
{
    overflow: hidden;

    height: 35px;
    margin-top: 0;

    border-bottom: 1px solid #ccc;
}
.contact-con .contact-header .contact-section
{
    float: left;

    height: 35px;
    margin: 0 10px 0 0;

    color: #ff6629;
    border-bottom: 4px solid #f90;
}
.contact-con h3
{
    font-family: '微软雅黑';

    display: block;
}

/*联系我们部分结束*/
