*{
	margin:0;
	padding: 0;
}
body{
	font-size: 12px;
	line-height: 1.7;
	background: url(../Image/contact-bg.jpg) left top repeat;
	background-size:100% 100%;
	background-attachment: fixed;
}
li{
	list-style: none;
}
.panel-heading{
	font-family: "微软雅黑";
	font-size: 18px;
}
.panel-body{
	font-family: "宋体";
	font-size: 14px;
}
.clear{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.item{
	padding: 20px;
	margin: 0 auto 20px;
	height: auto;
}
.item h2{
	font-size: 16px;
	font-weight: bold;
	color:#BE3985;
	padding:10px 0;
	border-bottom:2px solid #0088bb;
	margin-bottom: 10px;
}
.item li{
	display:inline;
}
#menu{
	position: fixed;
	top: 100px;
	left: 170px;
}
#menu ul li a{
	letter-spacing:8px;
	display: block;
	margin:5px 0;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color:#333;
	width:140px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
#menu ul li a:hover,
#menu ul li a.current{
	background: #0088bb;
	color:#fff;
}
@media screen and (min-width:970px) and (max-width:1170px){
	#menu{
	left: 100px;
	}
	#menu ul li a{
	letter-spacing:5px;
	font-size: 18px;
	width:120px;
	height: 45px;
	line-height: 45px;
	}
}
@media screen and (min-width:850px) and (max-width:969px){
	#menu{
	left: 85px;
	}
	#menu ul li a{
	letter-spacing:4px;
	font-size: 18px;
	width:110px;
	height: 45px;
	line-height: 45px;
	}
}
@media screen and (min-width:650px) and (max-width:849px){
	#menu{
	left: 60px;
	}
	#menu ul li a{
	letter-spacing:3px;
	font-size: 18px;
	width:100px;
	height: 43px;
	line-height: 43px;
	}
}
@media screen and (min-width:480px) and (max-width:650px){
	#menu{
	left: 40px;
	}
	#menu ul li a{
	letter-spacing:2px;
	font-size: 18px;
	width:100px;
	height: 40px;
	line-height: 40px;
	}
}
@media screen and (min-width:360px) and (max-width:479px){
	#menu{
	left: 20px;
	}
	#menu ul li a{
	letter-spacing:1px;
	font-size: 18px;
	width:90px;
	height: 40px;
	line-height: 40px;
	}
}
@media screen and (max-width:359px){
	#menu{
	left: 15px;
	}
	#menu ul li a{
	letter-spacing:0px;
	font-size: 14px;
	width:80px;
	height: 30px;
	line-height: 30px;
	}
}

/*html6 hack*/
* html, * html body{
	background-image: url(about:blank);
	background-attachment: fixed;
}
* html #menu{
	position: absolute;
	top:expression(((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+100+"px");
}