/*页面底部开始*/
#footer{
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	background-color: #ffffff;
	padding:10px 0;
	font-family: "微软雅黑";
}
#footer .footertop{
	margin-top: 10px;
	font-weight: bold;
}
#footer i{
	font-style:normal;
	margin:0 10px;
}
#footer a{
	color:#383838;
}
#footer a:hover{
	color:#000000;
}
.text-muted{
	font-size: 12px;
	margin-top: -5px;
}
/*页面底部结束*/