@media only screen and (min-width: 301px) and (max-width: 768px){
body,
  .container-fluid{
    margin: 0;
    padding: 0;
  }
  .clear{
    clear: both;
  }
  #background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:-1;
  }
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,{
    text-align: center;
  }
.zmcon{
  width: 100%;
  height: auto;
  position: relative;
  background: url(../Image/background.png) left top no-repeat;
  background-size:100% 100%;
  text-align: center;
  z-index:-1;
}
  /*导航条部分开始*/
  .zaome-nav {
    height: 55px;
    width: 100%;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    background: url(../Image/zaome_top_bg.png) repeat-x;
    filter:alpha(opacity=90);
    -moz-opacity: 0.90;
    -khtml-opacity: 0.90;
    opacity: 0.90;
  }
  .navbar-inverse{
   border: none;
  }
  .navbar-header #navbar-brand{
    margin-left: 50px;
    padding: 0;
    height: 55px;
    line-height: 55px;
  }
  .navbar-brand img{
    height: 46px;
    width: auto;
    padding:2px 0;  
  }
  .nav-index-zaome .navbar-header li{
    height: 55px;
    line-height: 55px;
    margin:0 40px;
  }
  .nav-index-zaome .navbar-header{
    margin-right: 120px;
  }
  .nav-index-zaome .navbar-header li a{
    color: #fff;
    display: inline-block;
    height: 100%;
    padding: 16px 30px;
    font-size: 18px;
    font-family: "微软雅黑";
  }
  .nav-index-zaome .navbar-header li a:hover{
    background: #0033CC;
  }
  .nav-index-zaome .nav-right li{
    margin:13px 3px 0 3px;
  }
  .loginbtn,
  .regbtn{
    position: relative;
    padding-top: 3px;
    width: 70px;
    height: 28px;
  }
  .loginbtn a{
    color: #000;
  }
  .regbtn a{
    color: #fff;
  }
  .loginbtn a,
  .regbtn a{
    font-size: 15px;
    font-family: "微软雅黑";
  }
  .loginbtn a:hover,
  .regbtn a:hover{
    text-decoration: none;
  }
/*导航条部分结束*/
/*左边的图像开始*/
.lt-img{
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  height: 450px;
}
.word{
  display: inline-block;
  position: absolute;
  width: 80%;
  height: auto;
  top: 55%;
  left: 10%;
}
/*左边的图像结束*/
/*中间的图像开始*/
.md-img{
  display: block;
  text-align: center;
  position: relative;
  margin-left: -15%;
  width: 300px;
  height: 650px;
  z-index: 100;
  overflow: hidden;
  background: url(../Image/phone.png) 0 105% no-repeat;
}
.guide{
  display: block;
  position: relative;
  height: 426px;
  width: 249px;
  overflow: hidden;
  margin-left: 6%;
  margin-top: 55.8%;
}
.guide img{
  height: 100%;
  width: 100%;
}
.guide_0,
.guide_1,
.guide_2,
.guide_3{
  height: 426px;
  width: 249px;
}
/*中间的图像结束*/
/*右边的图像开始*/
.lf{
  width: 100%;
  height: 450px;
  position: relative;
  text-align: center;
}
.md{
  width: 100%;
  height: 600px;
  position: relative;
  text-align: center;
}
.ri{
  width: 100%;
  height: 600px;
  position: relative;
  text-align: center;
}
.ri-top{
  display: block;
  text-align: center;
  position: relative;
  margin-top: 25%;
  width: 100%;
  height: 23%;
}
.ri-mid{
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  height: 23%;
}
.ri-btm{
  display: block;
  text-align: center;
  position: relative;
  width: 100%;
  height: 23%;
}
.logo{
  display: inline-block;
  position: absolute;
  top: 15%;
  left:14%;
  width: 33%;
  height: auto;
}
.logo_word{
  display: inline-block;
  position: absolute;
  top: 34%;
  right:15%;
  width: 35%;
  height: auto;
}
.content{
  display:inline-block;
  position: absolute;
  top: 25%;
  left:0px;
  width: 100%;
  height: auto;
  
}
.downbtn{
  display:inline-block;
  position: absolute;
  text-align: center;
  width: 65%;
  height: 18%;
  top:40%;
  left:0px;
  border-radius: 8px;
}
.download{
  display:inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
}
.qr_ode{
  display:inline-block;
  position: absolute;
  width: 30%;
  height: auto;
  top:18%;
  right:0px;
}
/*右边的图像结束*/
}