body{
	background-color: #acbea8;
	overflow: hidden;
}
#login{
	position: relative;
	height: auto;
	width: 100%;
}
.modal-content{
	margin: 100px auto;
}
.modal-title{
	text-align: center;
	font-family: "微软雅黑";
}
.modal-title{
	text-align: center;
}
.input-group {
	margin-bottom: 10px;
}
.input-captcha {
	padding: 0;
}
.input-captcha img {
	height:100%;
	width: 100%;
	margin-right: 100px;
}
.error {
 	color: red;
 }
.error {
	color: red;
}
.reloadverify{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;	
}