body{
	background-color: #acbea8;
	overflow: hidden;
}
.modal-header{
	border:none;
}
.register-main{
	margin-top:60px;
}
.center-block{
	text-align: center;
	font-family: "微软雅黑";
}
.smsinput{
	padding-top:20px;
}
.register-main h2 {text-align: center;color: #555A5E; font-family: "微软雅黑";}
.register-main p {text-align: center;margin-top: 20px;}
.input-captcha { padding: 0;}
.modal-body .input-group {margin-bottom: 20px;}
.input-captcha img {height:100%;width: 100%;margin-right: 100px;}
.reloadverify{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;	
}