body,
.container-fluid{
    margin: 0;
    padding: 0;
    background: url(../Image/background.png) left top no-repeat;
    background-size:100% 100%;
  }
  .clear{
    clear: both;
  }
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8
  {
    text-align: center;
  }
  /*团队介绍部分开始*/
  .row-fluid .team-img{
    height: 94%;
    width: 94%;
    margin:3% 3% 2%;
  }
  .team-con{
    padding:1% 3% 3%;
    border-bottom: 1px solid #ccc;

  }
  .hr{
    display: inline-block;
    width: 94%;
    margin: 0 3%;
  }
  .team-con .team-header{
    margin-top: 0px;
    height: 35px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
  }
  .team-con .team-header .team-section{
    float: left;
    height: 35px;
    color: #FF6629;
    margin: 0 10px 0 0;
    border-bottom: 4px solid #FF9900;
  }
  .team-con h3{
    display: block;
    font-family: "微软雅黑";
  }
  .team-con p{
    text-align: left;
  }
  /*团队介绍部分结束*/