body{
	margin: 0;
	padding: 0;
}
.zmcon{
	width: 100%;
	height: auto;
	position: relative;
	background: url(../Image/background.png) left top no-repeat;
	background-attachment: fixed;
	background-size:100% 100%;
	text-align: center;
	margin:-51px auto 0;
	overflow: hidden;
}
.alignment .col-lg-4{
  text-align: center;
}
.left{
	height: 600px;
	width: 445px;
	float:left;
	text-align: center;
}
.middle{
	height: 600px;
	width: 445px;
	float:left;
	text-align: center;
}
.right{
	height: 600px;
	width: 445px;
	float:left;
	text-align: center;
}
/*登陆注册部分开始*/
.navbar-nav li{
	margin:0 5px;
}
/*登陆注册部分结束*/
/*左边的图像开始*/
.word{
	position: relative;
	width: 300px;
	height: 520px;
	float:left;
	margin-left:60px;
	margin-top:300px;

}
.word img{
	width: 300px;
	height: auto;
	margin-left:-45px;
}
/*左边的图像结束*/
/*中间的图像开始*/
.phone{
	position: relative;
	width: 275px;
	height: 520px;
	float:left;
	margin-left:45px;
	margin-top:85px;
	vertical-align: center;
}
.phone img{
	width: 275px;
	height: 520px;
}
/*中间的图像结束*/
/*右边的图像开始*/

.right .logo{
	height: 112px;
	width: 112px;
	float: left;
	margin-left: 50px;
	margin-top: 160px;
}
.right .logo_word{
	display: inline-block;
	height: 64px;
	width: 131px;
	float: right;
	margin-right: 145px;
	margin-top: 192px;
}
.right .content{
	position: relative;
	width: 416px;
	height: auto;
	float: left;
	margin-left: 2px;
	margin-top: 30px;
}
.right .content{
	width: 350px;
	height: 101px;
}
.right .qr_ode{
	position: relative;
	height: 100px;
	width: 100px;
	float: right;
	margin-right: 92px;
	margin-top: 35px;
}
.right a{
	float:left;
	vertical-align: center;
	text-align: center;
	width: 215px;
	margin-left: 6px;
	margin-top:70px;
	border-radius: 15px;

}
.right .download{
	margin-left: -5px;
	width:200px;
}
/*右边的图像结束*/