<load href="__PUBLIC__/Home/Css/footer.css" />
<load href="__PUBLIC__/Home/Js/footer.js" />
	<div id="footer">
		<div class="container footer-container">
			<div class="row row-container">
				<div class="col-ld-4 alignment">
						<p class="footertop">
							<a href="javascript:void(0);" id="qrcode">二维码
							<span style="display: none"></span>
							</a>
							<i>|</i>
							<a href="{:U('home/index/team')}" >关于我们</a>
							<i>|</i>
							<a href="mailto:buaaxhm@hotmail.com">联系我们</a>
						</p>
			    	<p class="text-muted">©2014 <span>造么</span> 京ICP备14033893号-1</p>
		 		</div>
		 	</div>
		</div>
	</div>