<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="">	
  <link rel="shortcut icon" href="__PUBLIC__/Common/Image/fav.ico" type="image/x-icon">
  <title>造么</title>
  <script type="text/javascript" src="__JQUERY__/jquery-1.11.0.js"></script>
  <script type="text/javascript" src="__BOOTSTRAP__/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="__BOOTSTRAP__/css/bootstrap.css" />
  {//<load href="__PUBLIC__/Common/Js/common.js" />}
  <!--[if lt IE 9]>
    <script src="__BSIE__/html5shiv.min.js"></script>
    <script src="__BSIE__/respond.min.js"></script>
  <![endif]-->
</head>