<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>造么分享页</title>
    <script type="text/javascript" src="__JQUERY__/jquery-1.11.0.js"></script>
    <link rel="shortcut icon" href="__PUBLIC__/Common/Image/fav.ico" type="image/x-icon">
</head>