<load href="__PUBLIC__/Home/Css/contact.css" />
<load href="__PUBLIC__/Home/Js/contact.js" />
<div class="container-fluid">
<div class="row-fluid">
<div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
<div id="menu">
    <ul>
      <li><a href="#item1" class="current">关于造么</a></li>
      <li><a href="#item2">联系造么</a></li>
    </ul>
</div>
</div>
  <div id="content" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
    <div id="item1" class="item clear">
      <h2>关于造么</h2>
      <ul>
        <li>
          <div class="panel panel-default">
            <div class="panel-heading">造么是什么</div>
            <div class="panel-body">
              造么是。。。
            </div>
          </div>
        </li>
        <li>
          <div class="panel panel-default">
            <div class="panel-heading">造么是干什么的</div>
            <div class="panel-body">
              造么是干。。。
            </div>
          </div>
        </li>
        <li>
          <div class="panel panel-default">
            <div class="panel-heading">造么怎么样？</div>
            <div class="panel-body">
              造么是这样的。。。
            </div>
          </div>
        </li>
        <li>
          <div class="panel panel-default">
            <div class="panel-heading">造么是干什么的</div>
            <div class="panel-body">
              造么是干。。。
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div id="item2" class="item">
      <h2>联系造么</h2>
      <ul>
        <li>
          <div class="panel panel-default">
            <div class="panel-heading">联系方式</div>
            <div class="panel-body">
              <p>电话：</p>
              <p>邮件：</p>
            </div>
        </div>
        </li>
        <li>
          <div class="panel panel-default">
            <div class="panel-heading">人才招聘</div>
            <div class="panel-body">
              造么是干。。。
            </div>
        </div>
        </li>
        <li>
          <div class="panel panel-default">
            <div class="panel-heading">网站合作</div>
            <div class="panel-body">
              合作
            </div>
          </div>
        </li>
        <li>
          <div class="panel panel-default">
            <div class="panel-heading">公司地址</div>
            <div class="panel-body">
              北京市。。。
            </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>
  