  <load href="__PUBLIC__/Home/Css/index1.css" />
  <load href="__PUBLIC__/Home/Css/index2.css" />
  <load href="__PUBLIC__/Home/Css/index3.css" />
  <load href="__PUBLIC__/Home/Css/index4.css" />
  <load href="__PUBLIC__/Home/Css/index5.css" />
  <load href="__PUBLIC__/Home/Css/index6.css" />
  <load href="__PUBLIC__/Home/Js/index.js" />
  <!-- 首页内容开始 -->
  <div class="zmcon" >
  	<div class="container-fluid">
  	    <div class="row-fluid">
  		    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 lf">
  			    <div class="lt-img">
  				    <img class="word" src="__PUBLIC__/Home/Image/word.png" alt="word">
  				</div>
  		    </div>
  			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 md ">
  				<div class="md-img clear">
  					<!-- <img class="phone" src="__PUBLIC__/Home/Image/phone.png" alt="phone" /> -->
            <div class="guide">
              <div class="box">
                <div class="guide_0"><img src="__PUBLIC__/Home/Image/guide_0.png" alt="guide_0"></div>
                <div class="guide_1"><img src="__PUBLIC__/Home/Image/guide_1.png" alt="guide_1"></div>
                <div class="guide_2"><img src="__PUBLIC__/Home/Image/guide_2.png" alt="guide_2"></div>
                <div class="guide_3"><img src="__PUBLIC__/Home/Image/guide_3.png" alt="guide_3"></div>
              </div>
            </div>
  				</div>
  			</div>
  			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 ri">
  				<div class="ri-top">
  					<img class="logo" src="__PUBLIC__/Home/Image/logo.png" alt="logo" />
  					<img class="logo_word" src="__PUBLIC__/Home/Image/logo_word.png" alt="logo_word">
  				</div>
  				<div class="ri-mid">
  					<img class="content" src="__PUBLIC__/Home/Image/content.png" alt="content">
  				</div>
  				<div class="ri-btm">
  					<a href="#" type="button" class="btn btn-default downbtn" id="downbtn">
  						<img class="download" src="__PUBLIC__/Home/Image/download.png" alt="download">
  					</a>
  					<img class="qr_ode" src="__PUBLIC__/Home/Image/qr_code.png" alt="qr_ode" />
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <!-- 首页内容结束 -->
