  <load href="__PUBLIC__/Home/Css/website.css" />
    <div class="maincon">
	    <div class="word">
	    	<img src="__PUBLIC__/Home/Image/word.png" alt="word">
	    </div>
		<div class="phone">
			<img src="__PUBLIC__/Home/Image/phone.png" alt="phone" />
		</div>
		<div class="logo">
			<img src="__PUBLIC__/Home/Image/logo.png" alt="logo" />
		</div>
		<div class="logo_word">
			<img src="__PUBLIC__/Home/Image/logo_word.png" alt="logo_word">
		</div>
		<div class="content">
			<img src="__PUBLIC__/Home/Image/content.png" alt="content">
		</div>
		<div class="btn">
			<a href="#" type="button" class="btn btn-default">Andriod客户端下载</a>
		</div>
		
		<div class="Qr_ode">
			<img src="__PUBLIC__/Home/Image/Qr_code.png" alt="Qr_ode" />
		</div>
	</div>
	<div class="footer">
	<p>
		<a href="#">造么简介</a><i>|</i>
		<a href="#">联系我们</a><i>|</i>
	</p>
	<p>Copyright © 2014 造么版权所有&nbsp;&nbsp;&nbsp; 京ICP备09037834号&nbsp;&nbsp;&nbsp;京ICP证B1034-8373号&nbsp;&nbsp;&nbsp;北京市公安局海淀分局备案编号：123456789123</p>
</div>