<load href="__PUBLIC__/Home/css/share.css" />
<div class="wrapper">
        <div class="main">
            <div class="secret" style="height: 320px;">
                <div class="bg"><img src="http://mimi.wumii.cn/resources/background/25.jpg"></div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="content">记者采访一个漂亮女子：<br>1，你老公是做什么的呀？<br>答：我老公是程序员。<br>2，你担心你老公会乱花钱么？<br>答：不担心，他一有钱有钱就换新电脑。<br>3，你担心他找小三么？<br>答：不担心，因为他要一直调bug。😱😱😱
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottom">
                    <div class="circle">朋友的秘密</div>
                    <div class="relates">
                        <div class="comment-count">
                            <i class="i i-comment"></i>
                            <span class="num">5</span>
                        </div>
                        <div class="liked-count">
                            <i class="i i-like"></i>
                            <span class="num">5</span>
                                </div>
                    </div>
                </div>
            </div>
            <div class="comments">
                <ul>
                        <li class="author">
                            <div class="container">
                                <div class="portrait"><div class="head"><img src="http://mimi.wumii.cn/resources/avatar/0.png?v4"></div></div>
                                <div class="content">
                                    <p>谁能猜出我是谁？</p>
                                    <div>
                                        1楼 · 2014-08-01</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="container">
                                <div class="portrait"><div class="head"><img src="http://mimi.wumii.cn/resources/avatar/69.png?v4"></div></div>
                                <div class="content">
                                    <p>明显假的，程序员还想有老婆？</p>
                                    <div>
                                        2楼 · 2014-08-01</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="container">
                                <div class="portrait"><div class="head"><img src="http://mimi.wumii.cn/resources/avatar/45.png?v4"></div></div>
                                <div class="content">
                                    <p>zy</p>
                                    <div>
                                        3楼 · 2014-08-01</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="container">
                                <div class="portrait"><div class="head"><img src="http://mimi.wumii.cn/resources/avatar/89.png?v4"></div></div>
                                <div class="content">
                                    <p>wx</p>
                                    <div>
                                        4楼 · 2014-08-01</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="container">
                                <div class="portrait"><div class="head"><img src="http://mimi.wumii.cn/resources/avatar/89.png?v4"></div></div>
                             <div class="content">
                                    <p>或者wlq</p>
                                    <div>
                                        5楼 · 2014-08-01</div>
                                </div>
                            </div>
                        </li>
                        </ul>
        </div>
            <div class="app-download">
                <a href="/download" id="appAd"><img class="text" src="http://mimi.wumii.cn/images/download_banner.png"><img class="app-logo" src="http://mimi.wumii.cn/images/download_btn.png"></a>
            </div>
        </div>
    </div>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script>
        var isMobile = true;
        if (isMobile) {
            var secretEle = document.querySelector('.secret');
            secretEle.style.height = document.documentElement.clientWidth + 'px';
        }
    </script>
    <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49515307-1', 'wumii.org');
        ga('send', 'pageview');
</script>
<div><object id="ClCache" click="sendMsg" host="" width="0" height="0"></object></div>
</body>
