<load href="__PUBLIC__/Home/Css/team.css" />
<div id="main-con" style="display: block;">
<!-- 导航条部分开始 -->
  <header class="navbar navbar-inverse navbar-static-top zaome-nav" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a href="./" class="navbar-brand" id="navbar-brand"><img src="__PUBLIC__/Home/Image/logo_head.png" alt="logo"></a>
		</div>
		<nav class="navbar-collapse collapse navbar-right nav-index-zaome">
      <ul class="nav navbar-nav navbar-header">
        <li><a href="./" class="">首页</a></li>
        
        <li><a href="{:U('home/index/team')}" class="">团队介绍</a></li>
        <li><a href="{:U('home/index/contact')}">联系我们</a></li>
      </ul>
      <ul class="nav navbar-nav nav-right" style="position:relative;">
          <li><button type="button" class="btn btn-default loginbtn">
            <a href="#">登录</a>
          </button></li>
          <li><button type="button" class="btn btn-primary regbtn">
              <a href="#">注册</a>
            </button></li>
      </ul>
		</nav>
	</div>
</header>
<!-- 导航条部分结束 -->
<!-- 团队介绍部分开始 -->
<div class="container-fluid">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <div class="row-fluid" style="width: 100%;height: 100%;margin: 80px 0 30px;background-color: white;">
      <img class="team-img" src="__PUBLIC__/Home/Image/1.jpg" alt="teamimg">
      <hr class="hr">
      <div class="team-con">
        <h3 class="team-header">
          <span class="team-section">造么团队</span>
        </h3>
        <p>校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。</p>
      </div>
  </div>
  </div>
</div>
<!-- 团队介绍部分结束 -->