<load href="__PUBLIC__/Home/Css/team.css" />
<div id="main-con" style="display: block;">
<!-- 团队介绍部分开始 -->
<div class="container-fluid">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <div class="row-fluid" style="width: 100%;height: 100%;margin: 50px 0;background-color: white;">
      <img class="team-img" src="__PUBLIC__/Home/Image/bg.jpg" alt="teamimg">
      <hr class="hr">
      <div class="team-con">
        <h3 class="team-header">
          <span class="team-section">造么团队</span>
        </h3>
        <p>校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。校园事，随时问，随时答。</p>
      </div>
  </div>
  </div>
</div>
<!-- 团队介绍部分结束 -->